html, body {
	color: #333;
	height: 100%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 0;
}

#map {
	background-color: #fff;
	float: left;
	height: 100%;
	width: 80%;
}

.container {
	height: 100%;
}

.sidebar-button {
	background-color: #000;
	color: white;
	cursor: pointer;
	padding: 0.4em;
	position: absolute;
	right: 20%;
}

.sidebar {
	background-color: #eee;
	border-radius: 0px 0px 0px 5px;
	box-sizing: border-box;
	float: right;
	padding: 0.5em;
	width: 20%;
}

.sidebar > .tools {
	padding-bottom: 5px;
}

.sidebar > .list > ol {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.sidebar > .list > ol > li {
	margin: 0;
	padding-bottom: 0.8em;
}

.marker-edit {
	border: 1px solid #666;
	border-radius: 5px;
	color: #666;
	cursor: pointer;
	font-size: 0.8em;
	padding: 0.2em;
}

.marker-edit:hover {
	background-color: #666;
	color: #eee;
}

.marker-properties {
	display: none;
}

.sidebar > .list, .marker-properties {
	padding-top: 0.5em;
}

.label {
	background-color: #ccc;
	color: #999;
	font-size: 0.6em;
	margin-bottom: 1.5em;
	padding: 0.4em;
	text-transform: uppercase;
}
